<html>
  <head>
    <link rel="stylesheet" href="/css/app.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&family=Barlow+Semi+Condensed:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Stephanie's Portfolio</title>
  </head>
  <body>
    <div class="home">
      <div class="hamburger-icon"></div>
     <div class="info-div">
        <div class="logo">LOGO HERE</div>
        <div class="info-box">
          <h4>EMAIL</h4>
          <h3>stephieplusthree@gmail.com</h3>
          <h4>PHONE</h4>
          <h3>(760) 274-4904</h3>
          <h4>FIND ME ON</h4>
          <div class="icon-div">
            <i class="fa fa-github" aria-hidden="true"></i>
            <i></i>
            <i></i>
            <i></i>
          </div>
        </div>
      </div>
      <div class="content-area">
        <div class="img-container">
          <div class="user-img"></div>
          <div class="profile-div">
            <div class="profile">
              <div class="name">
                <h1>
                  Stephanie <br />
                  <br />
                  <span>Cragg</span>
                  <br />
                </h1>
              </div>
              <h5>Web Developer</h5>
              <br/>
              <p>I am a highly capable software developer professional. In addition to my computer programming skills, I offer significant abilities and experience in office administrative assistance, financial management, research and reporting, project management and payroll supervision.</p>
              <br />
              <div class="primary-btn">Portfolio</div>
              <div class="ghost-btn">Resume</div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
