<html>
  <head>
    <link rel="stylesheet" href="/css/app.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap" rel="stylesheet">
    <title>Stephanie's Portfolio</title>
  </head>
  <body>
    <div class="home">
      <div class="hamburger-icon"></div>
      <section class="info-section">
        <div class="logo">LOGO HERE</div>
        <div class="info-box">
          <h4>EMAIL</h4>
          <h3>stephieplusthree@gmail.com</h3>
          <h4>PHONE</h4>
          <h3>(760) 274-4904</h3>
          <h4>FIND ME ON</h4>
          <div class="icon-section">
            <i></i>
            <i></i>
            <i></i>
            <i></i>
          </div>
        </div>
      </section>
      <section class="content-area">
        <div class="img-container">
          <div class="user-img">
            <img src="../images/resized.jpg" />
          </div>
        </div>
        <div class="profile-section">
          <div class="profile">
            <h1>
              Stephanie <br />
              Cragg
            </h1>
            <h5>Web Developer</h5>
            <p>
              I am a highly capable software developer professional. In addition
              to my computer programming skills, I offer significant abilities and
              experience in office administrative assistance, financial
              management, research and reporting, project management and payroll
              supervision. My ability to get along well with others, to make
              necessary adjustments to meet deadlines, and successfully coordinate
              in fast-paced environments have all contributed to my growth and my
              employers’ placing a significant degree of trust in me.
            </p>
            <div class="primary-btn">Portfolio</div>
            <div class="ghost-btn">Resume</div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
