<html>
  <head>
    <link rel="stylesheet" href="/css/app.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&family=Barlow+Semi+Condensed:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Resume Page</title>
  </head>
  <body>
    <div class="home">
        <div class="hamburger-icon">
        <ul>
          <li>
            <a href="#" class="nav-link">Home</a>
          </li>
          <li>
            <a href="#" class="nav-link">About</a>
          </li>
          <li>
            <a href="#" class="nav-link">Portfolio</a>
          </li>
          <li>
            <a href="#" class="nav-link">Contact Me</a>
          </li>
        </ul>
        </div>
        <div class="info-div">
        <div class="logo">
          <img src="../images/logo.jpg" />
        </div>
        <div class="info-box">
          <h4>EMAIL</h4>
          <h3>stephieplusthree@gmail.com</h3>
          <h4>PHONE</h4>
          <h3>(760) 274-4904</h3>
          <h4>FIND ME ON</h4>
          <div class="icon-div">
            <a href="https://github.com/stephieplusthree?tab=repositories">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCcqpag7ErjsTs7g8CLQSu8A">
              <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/in/stephanie-cragg-a312401a4/">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
            <i></i>
          </div>
        </div>
        </div>
        <div class="content-area">
          <div class="img-container">
            <div class="profile-div">
              <div class="resume-profile">
                <div class="profile-name">
                  Profile:
                </div>
                <p>Goal-directed, result-oriented professional with a medical, real estate and administrative background. Skilled communicator, persuasive and adaptable. Self motivated with high-energy initiative, and focus. Keen insight into the needs and views of others-able to listen and identify issues or problem areas and form innovative solutions. Professional, personable and organized.</p>
                <br />
                <div class="left-profile-bulletpoint">
                  Areas of strength include: Communication, Negotiation, Client Relations, Community Relations, Training, Problem Solving, Flexible, Adaptable, Documentation
                </div>
                <br />
                <br />
                <div class="profile-experience">
                  Experience:
                </div>
                <div class="experience1-2">
                  <div class="margale-container">
                    <ul>
                      <li>
                        <div class="margale-title">
                          WEB DEVELOPER
                        </div>
                      </li>
                      <li>
                        <div class="margale-name">
                          Margale Pet Resort
                        </div>
                      </li>
                      <li>
                        <div class="margale-timeline">
                          Session 2019
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="bressi-ranch">
                    <ul>
                      <li>
                        <div class="margale-title">
                          OFFICE MANAGER
                        </div>
                      </li>
                      <li>
                        <div class="margale-name">
                          Bressi Ranch Family Dentistry
                        </div>
                      </li>
                      <li>
                        <div class="margale-timeline">
                          Session 2018
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
  </html>
  