<html>
    <head>
        <title>Stephanie Thanks You</title>
    </head>
    <body>
        <div>
            Thank You <%= contact.firstName %> <%= contact.lastName %>
        </div>
    </body>
</html>