* {
    box-sizing: border-box;
}

body {
    background-color: #F96C85;
    color: #dddddd;
    font-size: 18px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.hamburger-icon {
    position: absolute;
    font-size: 1.7em;
    line-height: 1.7em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    right: 36px;
    top: 36px;
    padding: 20px;
    text-transform: uppercase;
    text-align: right;
}

a.nav-link{
    color: #0B0A0A;
    text-decoration: none;
    text-align: right;
}

li, ul{
    text-align: right;
}

.primary-btn {
    background: white;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    padding: 23px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #F96C85;
    margin-right: 15px;
}

.ghost-btn {
    border: 4px solid white;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    color: white;
    padding: 18px 30px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 3px;
    
}

img {
    height: 150px;
    width: 175px;
}

.content-area {
    margin-left: 35%;
    background: #F96C85;
    height: 100%;
    width: 100%;
    color: #0B0A0A;
    display: inline-block
}

.info-div {
    padding: 54px;
    width: 35%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: white;
}

.info-box {
    position: absolute;
    bottom: 60px;
    font-size: 1.7em;
    line-height: 1.7em;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h4 {
    font-size: 1.7em;
    color: #0B0A0A;
    margin: 0.7em 0;
    /* line-height: 1.7em; */
}

h3 {
    font-size: 2rem;
    font-weight: 300;
    color: #F96C85;
    margin: 0.2em 0 1.6em;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.icon-div, a {
    margin-right: 35px;
    color: #F96C85;
    text-decoration: none;
}

li, ul {
    text-align: left;
}

div.title {
    font-size: 2.3rem;
    margin: 0.02rem;
    color: #0B0A0A;
}

h5 {
    color: #0B0A0A;
    font-size: 2rem;
}

.profile {
    color: white;
    display: inline-block;
    position: absolute;
    right: 200px;
    left: 390px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    /* width: 750px; */
    top: 250px;
    font-size: 1.7rem;
    background: #F96C85;
}

.img-container {
    display: inline-block;
    width: 100%;
    position: relative;
    height: 100%;
    margin-left: auto;
}

.profile-div {
    padding: 250px 700px 0 0;
    background: #F96C85;
    height: 100%;
    color: white;
    display: inline-block;
    line-height: 1.7em;
    max-width: 500px;
}

p {
    color: white;
    font-size: 2rem;
    font-weight: 200;
    bottom: 100px;
    text-align: justify;
}

.name {
    font-size: 4.3rem;
    font-weight: 500;
    line-height: 2.3rem;
    margin: 0 0 3rem;
}

span {
    color: #FF8197;
}

.user-img {
    position: absolute;
    top: 56px;
    left: -200px;
    width: 500px;
    -webkit-box-shadow: 35px 20px 5px 5px rgba(26,24,26,0.67);
    -moz-box-shadow: 35px 20px 5px 5px rgba(26,24,26,0.67);
    box-shadow: 35px 20px 5px 5px rgba(26,24,26,0.67);
    height: calc(100% - 112px);
        background: url("../images/self.jpg") no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}


/*/////////////// start of resume page//////////////////// */
div.resume-container {
    padding: 75px 650px 100px 0;
    background: #F96C85;
    height: 100%;
    color: white;
    margin-left: 30px;
    display: inline-block;
    line-height: 1.7em;
    max-width: 500px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

div.resume-title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.3rem;
    margin: 0 0 3rem;
    color: white;
    text-transform: uppercase;
}

div.profile-description {
    padding: 250px 700px 0 0;
    background: #F96C85;
    opacity: 0.3;
    height: 100%;
    color: white;
    display: inline-block;
    line-height: 1.7em;
    max-width: 500px;
}

.resume-profile {
    color: white;
    display: inline-block;
    position: absolute;
    right: 200px;
    left: 90px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    width: 640px;
    top: 250px;
    font-size: 1.7rem;
    background: #F96C85;
}

.profile-name {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.7rem;
    margin: 0 0 2rem;
    text-transform: uppercase;
}

.left-profile-bulletpoint {
    color: #0B0A0A;
    font-weight: 200px;
    list-style-type: circle;
    text-align: justify;
    display: flex;
    font-size: 1em;
}

.profile-experience {
    top: 20px;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.7rem;
    margin: 0 0 2rem;
    text-transform: uppercase;
}

.margale-title, .bressi-title, .dentalPremier-title, .reder-title {
    line-height: 1.4;
    font-size: 2rem;
    color:  #0B0A0A;
}

.margale-name, .bressi-name, .dentalPremier-name, .reder-name {
    line-height: 1.4;
}
                
.margale-timeline, .bressi-timeline, .dentalPremier-timeline, .reder-timeline {
    line-height: 1.4;
}
            
.margale-container, .bressi-ranch, .dentalPremier-container, .reder-container {
    margin-right: 20px;
    width: 50%;
}

.experience1-2, .experience3-4 {
    display: flex;
}

.bressi-ranch {
    margin-right: 0;
    text-align: right;
    width: 50%;
}
/* ///////////////////end of resume page ///////////////////////*/


/*//////////////////////////// start of css reset //////////////////////////////*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, div, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, div {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*//////////////////////////////// end of reset /////////////////////////*/