* {
    box-sizing: border-box;
}

body {
    background-color: #F96C85;
    color: #dddddd;
    font-size: 18px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.hamburger-icon {
    position: absolute;
    font-size: 1.2em;
    line-height: 1.7em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    right: 36px;
    top: 36px;
    padding: 20px;
    text-transform: uppercase;
    text-align: right;
}

a.nav-link{
    color: black;
    text-decoration: none;
    text-align: right;
}

li, ul{
    text-align: right;
}

.primary-btn {
    background: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #F96C85;
    margin-right: 15px;
}

.ghost-btn {
    border: 4px solid white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 8px 20px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 3px;
    
}

img {
    height: 100px;
    width: 100px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: white;
    line-height: 0; */
}

.content-area {
    margin-left: 35%;
    /* width: 65%; */
    background: #F96C85;
    height: 100%;
    width: 100%;
    /* padding: 0 0 0 25%; */
    color: black;
    display: inline-block
}

.info-div {
    padding: 54px;
    width: 35%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: white;
}

.info-box {
    position: absolute;
    bottom: 60px;
    font-size: 1.2em;
    line-height: 1.7em;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h4 {
    font-size: 1.7em;
    color: #0B0A0A;
    margin: 0.7em 0;
    /* line-height: 1.7em; */
}

h3 {
    font-size: 2rem;
    font-weight: 300;
    color: #F96C85;
    margin: 0.2em 0 1.6em;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.icon-div, a {
    margin-right: 25px;
    color: #F96C85;
    text-decoration: none;
}

li, ul {
    text-align: left;
}

title {
    font-size: 2rem;
    font-weight: 300;
    margin: 0.02rem;
    color: white;
}

h5 {
    color: white;
}

.profile {
    color: white;
    display: inline-block;
    position: absolute;
    right: 200px;
    left: 390px;
    font-family: 'Baloo Tammudu 2', cursive;
    font-family: 'Barlow Semi Condensed', sans-serif;
    width: 550px;
    top: 250px;
    font-size: 1.4rem;
    background: #F96C85;
}

.img-container {
    display: inline-block;
    width: 100%;
    position: relative;
    height: 100%;
    margin-left: auto;
}

.profile-div {
    padding: 250px 700px 0 0;
    background: #F96C85;
    height: 100%;
    color: white;
    display: inline-block;
    /* vertical-align: top; */
    line-height: 1.7em;
    max-width: 500px;
}

p {
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    bottom: 100px;
}

.name {
    font-size: 3.3rem;
    font-weight: 500;
    line-height: 1.7rem;
    margin: 0 0 3rem;
}

span {
    color: #FFA495;
}

.user-img {
    position: absolute;
    top: 56px;
    left: -200px;
    width: 500px;
    -webkit-box-shadow: 35px 20px 5px 5px rgba(26,24,26,0.67);
-moz-box-shadow: 35px 20px 5px 5px rgba(26,24,26,0.67);
box-shadow: 35px 20px 5px 5px rgba(26,24,26,0.67);
    height: calc(100% - 112px);
        background: url("../images/self.jpg") no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
/*//////////////////////////// start of css reset //////////////////////////////*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, div, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, div {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*//////////////////////////////// end of reset /////////////////////////*/